@page "/cardrequest/{CardRequestId:guid}"


<MudGrid>
    <MudItem xs="12" sm="8" md="8">
        <EditForm Model="@CardRequest.MemberData" OnValidSubmit="Submit">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText FontSize="FontSize.Large"><span style="color: green;">Member Information</span></MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudField Label="FirstName" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.FirstName</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="LastName" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.LastName</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="MiddleName" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.MiddleName</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="PhoneNumber" Variant="Variant.Outlined">
                                <span style="color: green;">
                                    @CardRequest.MemberData.PhoneNumber
                                </span>
                            </MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Email" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.Email</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="Date of Birth" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.DateOfBirth</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Address" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.Address</span></MudField>
                        </MudItem>


                        @foreach (var data in CardRequest.MemberData.CustomData)
                        {
                            <MudItem xs="12" md="6">
                                <MudField Label="@data.Key" Variant="Variant.Outlined"><span style="color: green;">@data.Value</span></MudField>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="pb-4 pl-4">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" StartIcon="@Icons.Filled.Save"
                               ButtonType="ButtonType.Submit">Submit Card Request</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudItem>
    <MudItem xs="12" sm="8" md="8">
        <EditForm Model="@CardRequest.MemberData" OnValidSubmit="Submit">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText FontSize="FontSize.Large"><span style="color: green;">Member Information</span></MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudField Label="FirstName" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.FirstName</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="LastName" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.LastName</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="MiddleName" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.MiddleName</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="PhoneNumber" Variant="Variant.Outlined">
                                <span style="color: green;">
                                    @CardRequest.MemberData.PhoneNumber
                                </span>
                            </MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Email" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.Email</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="Date of Birth" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.DateOfBirth</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Address" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.Address</span></MudField>
                        </MudItem>


                        @foreach (var data in CardRequest.MemberData.CustomData)
                        {
                            <MudItem xs="12" md="6">
                                <MudField Label="@data.Key" Variant="Variant.Outlined"><span style="color: green;">@data.Value</span></MudField>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="pb-4 pl-4">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" StartIcon="@Icons.Filled.Save"
                               ButtonType="ButtonType.Submit">Submit Card Request</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudItem>
</MudGrid>
@code {

}
