@page "/cardrequest/{CardRequestId:guid}"
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudGrid>
        @*  <MudItem xs="12" sm="4" md="4">
    <MudCard Elevation="25">
    <MudCardContent Style="padding:0px!important">
    <div class="d-flex justify-center mb-4">
    @if (!string.IsNullOrEmpty(_imageUrl))
    {
    <MudAvatar Square="true" Image="@_imageUrl" Style=" width:100%;height:auto;"> </MudAvatar>
    }
    else if (dataLoaded)
    {
    <MudProgressCircular Color="Color.Success" Size="Size.Medium" Indeterminate="true" />
    <span>Loading Image ...</span>
    }
    else
    {
    <MudAvatar Square="true" Color="Color.Primary" Style="width:100%;height:300px;">
    @_firstLetterOfName
    </MudAvatar>
    }
    </div>
    <MudText Typo="Typo.h6" Align="Align.Center">@_firstName @_lastName</MudText>
    <MudText Align="Align.Center">@_chandaNo</MudText>
    </MudCardContent>
    <MudCardActions Class="d-flex justify-center">
    <InputFile id="fileInput" OnChange="UploadProfileImage" hidden accept=".jpg,.jpeg,.png" />
    <div style="padding-bottom:20px">
    @if (_uploaded)
    {

    <MudProgressCircular Color="Color.Success" Size="Size.Medium" Indeterminate="true" />
    }
    else
    {
    <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
    StartIcon="@Icons.Filled.CloudUpload" for="fileInput">
    Upload & Save
    </MudButton>
    }

    </div>

    </MudCardActions>
    </MudCard>
    </MudItem> *@
        <MudItem xs="12" sm="8" md="8">
                <MudCard Elevation="25">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText FontSize="FontSize.Large"><span style="color: green;">Member Information</span></MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudField Label="Identification Number" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.EntityId</span></MudField>
                        </MudItem>
                            <MudItem xs="12" md="6">
                                <MudField Label="FirstName" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.FirstName</span></MudField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudField Label="LastName" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.LastName</span></MudField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudField Label="MiddleName" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.MiddleName</span></MudField>
                            </MudItem>

                            <MudItem xs="12" md="6">
                                <MudField Label="PhoneNumber" Variant="Variant.Outlined">
                                    <span style="color: green;">
                                        @CardRequest.MemberData.PhoneNumber
                                    </span>
                                </MudField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudField Label="Email" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.Email</span></MudField>
                            </MudItem>

                            <MudItem xs="12" md="6">
                                <MudField Label="Date of Birth" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.DateOfBirth</span></MudField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudField Label="Address" Variant="Variant.Outlined"><span style="color: green;">@CardRequest.MemberData.Address</span></MudField>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
        </MudItem>



        <MudItem xs="12" sm="8" md="8">
            <EditForm Model="@CardRequest" OnValidSubmit="Submit">
                <MudCard Elevation="25">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText FontSize="FontSize.Medium"><span style="color: green;">Member Additional Information</span></MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            @foreach (var data in CardRequest.MemberData.CustomData)
                            {
                                <MudItem xs="12" md="6">
                                    <MudField Label="@data.Key" Variant="Variant.Outlined"><span style="color: green;">@data.Value</span></MudField>
                                </MudItem>
                            }

                        </MudGrid>
                    </MudCardContent>

                    <MudCardActions Class="pb-4 pl-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" StartIcon="@Icons.Filled.Save"
                                   ButtonType="ButtonType.Submit" Disabled="BusySubmitting">Approve Card Request</MudButton>
                    </MudCardActions>
                </MudCard>
            </EditForm>
        </MudItem>
    </MudGrid>
}