@page "/member/{ExternalId}"
@using Microsoft.AspNetCore.Components.Authorization
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{

    <MudGrid>
        <MudItem xs="12" sm="8" md="8">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText FontSize="FontSize.Large"><span style="color: green;">Member Information</span></MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudField Label="FirstName" Variant="Variant.Outlined"><span style="color: green;">@MemberData.FirstName</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="LastName" Variant="Variant.Outlined"><span style="color: green;">@MemberData.LastName</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="MiddleName" Variant="Variant.Outlined"><span style="color: green;">@MemberData.MiddleName</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="PhoneNumber" Variant="Variant.Outlined">
                                <span style="color: green;">
                                    @MemberData.PhoneNumber
                                </span>
                            </MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Email" Variant="Variant.Outlined"><span style="color: green;">@MemberData.Email</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="Date of Birth" Variant="Variant.Outlined"><span style="color: green;">@MemberData.DateOfBirth.ToString("yyyy-MM-dd")</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Address" Variant="Variant.Outlined"><span style="color: green;">@MemberData.Address</span></MudField>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="8" md="8">
            <EditForm Model="@MemberData" OnValidSubmit="SubmitCardRequestAsync">
                <MudCard Elevation="25">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText FontSize="FontSize.Large"><span style="color: green;">Member Additional Information</span></MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            @foreach (var data in MemberData.CustomData)
                            {
                                <MudItem xs="12" md="6">
                                    <MudField Label="@data.Key" Variant="Variant.Outlined"><span style="color: green;">@data.Value</span></MudField>
                                </MudItem>
                                if (data.Key.ToLower() == "bloodgroup")
                                {
                                    _showBloodGroup = false;
                                }
                                if (data.Key.ToLower() == "genotype")
                                {
                                    _showGenotype = false;
                                }
                            }

                            @if (_showBloodGroup)
                            {
                            <MudItem xs="12" md="6">
                                <MudSelect Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" xs="12" md="6" T="string" Label="Blood Group" @bind-Value="@BloodGroup" For="@(() => BloodGroup)">
                                    <MudSelectItem Value="@("BloodGroup")">APositive</MudSelectItem>
                                    <MudSelectItem Value="@("ANegative")">ANegative</MudSelectItem>
                                    <MudSelectItem Value="@("BPositive")">BPositive</MudSelectItem>
                                    <MudSelectItem Value="@("BNegative")">BNegative</MudSelectItem>
                                    <MudSelectItem Value="@("OPositive")">OPositive</MudSelectItem>
                                    <MudSelectItem Value="@("ONegative")">ONegative</MudSelectItem>
                                    <MudSelectItem Value="@("ABPositive")">ABPositive</MudSelectItem>
                                </MudSelect>
                            </MudItem>
                            }

                            @if (_showGenotype)
                            {
                            <MudSelect Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" xs="12" md="6" T="string" Label="Genotype" @bind-Value="@Genotype" For="@(() => Genotype)" placeholder="Select Genotype">
                                <MudSelectItem Value="@("AA")">AA</MudSelectItem>
                                <MudSelectItem Value="@("AS")">AS</MudSelectItem>
                                <MudSelectItem Value="@("AC")">AC</MudSelectItem>
                                <MudSelectItem Value="@("SS")">SS</MudSelectItem>
                                <MudSelectItem Value="@("SC")">SC</MudSelectItem>
                            </MudSelect>
                            }
                        </MudGrid>
                    </MudCardContent>
                    <MudCardActions Class="pb-4 pl-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" StartIcon="@Icons.Filled.Save"
                                   ButtonType="ButtonType.Submit" Disabled="@BusySubmitting">Submit Card Request</MudButton>
                    </MudCardActions>
                </MudCard>
            </EditForm>
        </MudItem>
    </MudGrid>
}

@code {

}
