@page "/card/{CardNumber}"
@using Microsoft.AspNetCore.Components.Authorization
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{

    <MudGrid>
        <MudItem xs="12" sm="8" md="8">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText FontSize="FontSize.Large"><span style="color: green;">Card Information</span></MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudField Label="Full name" Variant="Variant.Outlined"><span style="color: green;">@Card.FullName</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Request Date" Variant="Variant.Outlined"><span style="color: green;">@Card.RequestDate</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Approved Date" Variant="Variant.Outlined"><span style="color: green;">@Card.ApprovedDate</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="Approved By" Variant="Variant.Outlined">
                                <span style="color: green;">
                                    @Card.ApprovedBy
                                </span>
                            </MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Card Status" Variant="Variant.Outlined"><span style="color: green;">@Card.CardStatus</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="Print Status" Variant="Variant.Outlined"><span style="color: green;">@Card.PrintStatus</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Collected" Variant="Variant.Outlined"><span style="color: green;">@Card.IsCollected</span></MudField>
                        </MudItem>
                        @if (Card.IsCollected)
                        {
                            <MudItem xs="12" md="6">
                                <MudField Label="Collected" Variant="Variant.Outlined"><span style="color: green;">@Card.DateCollected</span></MudField>
                            </MudItem>
                        }

                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="pb-4 pl-4">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto" StartIcon="@Icons.Filled.Save"
                               ButtonType="ButtonType.Submit" OnClick="ViewCard" Disabled="@BusySubmitting">View ID Card</MudButton>
                    @if (Card.CardStatus == CardStatus.Active)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Error" Class="ml-auto" StartIcon="@Icons.Filled.RollerShadesClosed"
                                   ButtonType="ButtonType.Submit" OnClick="DeactivateCard" Disabled="@BusySubmitting">Deactivate</MudButton>
                    }
                    else if (Card.CardStatus == CardStatus.InActive)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" StartIcon="@Icons.Filled.Save"
                                   ButtonType="ButtonType.Submit" OnClick="ActivateCard" Disabled="@BusySubmitting">Activate</MudButton>
                    }

                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="6" sm="4" md="4">
            <MudCard Elevation="25">
                <MudCarousel Class="mud-width-full" Style="height:33pc;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
                    <MudCarouselItem Transition="transition" style ="display: flex; justify-content: center; padding: 20px;">
                        <div class="d-flex" style="height:100%">
                            <div class="padding">
                                <div class="font id-size">
                                    <div class="top">

                                        <div class=''>
                                            <img class='id-logo' src="amjnLogo.png" alt="logo" width="2rem" />
                                            <p class='ahm'><strong>AHMADIYYA</strong> <br /> <strong>MUSLIM JAMA'AT</strong> <br /> <span><strong>OF NIGERIA</strong></span></p>
                                        </div>
                                        <img class='id-img' src="ecard.jpg" alt="card" />
                                    </div>
                                    <div class="bottom">
                                        <p style="font-size:19px; font-family:math; font-weight:bold">@Card.FullName</p>
                                        <p id='cardNumber' hidden>@Card.CardNumber</p>
                                        <p class="no"> Oluwo Jama'at, Monatan</p>
                                        <div style="margin-top:12px">
                                            <p style="font-size:14px; font-family:math; font-weight:bold">Membership No: @Card.ExternalId</p>
                                            
                                            <p style="font-size:14px; font-family:math; font-weight:bold">Wasiyat No: 2222</p>

                                        </div>
                                        <div class='end'>
                                           <img src="qrcode.png" alt="Alternate Text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
                        <div class="d-flex" style="height:100%">
                            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                        </div>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCard>
        </MudItem>
    </MudGrid>
}

@code {

}
