@page "/card/{CardNumber}"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Components.Authorization
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{

    <MudGrid>
        <MudItem xs="12" sm="8" md="8">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText FontSize="FontSize.Large"><span style="color: green;">Card Information</span></MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudField Label="Full name" Variant="Variant.Outlined"><span style="color: green;">@Card.FullName</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Request Date" Variant="Variant.Outlined"><span style="color: green;">@Card.RequestDate</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Approved Date" Variant="Variant.Outlined"><span style="color: green;">@Card.ApprovedDate</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="Approved By" Variant="Variant.Outlined">
                                <span style="color: green;">
                                    @Card.ApprovedBy
                                </span>
                            </MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Card Status" Variant="Variant.Outlined"><span style="color: green;">@Card.CardStatus</span></MudField>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudField Label="Print Status" Variant="Variant.Outlined"><span style="color: green;">@Card.PrintStatus</span></MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Collected" Variant="Variant.Outlined"><span style="color: green;">@Card.IsCollected</span></MudField>
                        </MudItem>
                        @if (Card.IsCollected)
                        {
                            <MudItem xs="12" md="6">
                                <MudField Label="Collected" Variant="Variant.Outlined"><span style="color: green;">@Card.DateCollected</span></MudField>
                            </MudItem>
                        }

                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="pb-4 pl-4">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto" StartIcon="@Icons.Filled.Save"
                               ButtonType="ButtonType.Submit" OnClick="ViewCard" Disabled="@BusySubmitting">View ID Card</MudButton>
                    @if (Card.CardStatus == CardStatus.Active)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Error" Class="ml-auto" StartIcon="@Icons.Filled.RollerShadesClosed"
                                   ButtonType="ButtonType.Submit" OnClick="DeactivateCard" Disabled="@BusySubmitting">Deactivate</MudButton>
                    }
                    else if (Card.CardStatus == CardStatus.InActive)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" StartIcon="@Icons.Filled.Save"
                                   ButtonType="ButtonType.Submit" OnClick="ActivateCard" Disabled="@BusySubmitting">Activate</MudButton>
                    }

                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="8" md="8">
            <MudCard Elevation="25">
                <div class="container" id="container">
                    <div class="padding">
                        <div class="font id-size">
                            <div class="top">

                                <div class=''>
                                    <img class='id-logo' src='amjn-img/amjnLogo.png' alt="logo" width="2rem" />
                                    <p class='ahm'><strong>AHMADIYYA</strong> <br /> <strong>MUSLIM JAMA'AT</strong> <br /> <span><strong>OF NIGERIA</strong></span></p>
                                    <p class='ahm'><strong>AHMADIYYA</strong> <br /> <strong>MUSLIM JAMA'AT</strong> <br /> <span><strong>OF NIGERIA</strong></span></p>
                                </div>
                                <img class='id-img' src="ecard.jpg" alt="card" />
                            </div>
                            <div class="bottom">
                                <p style="font-size:19px; font-family:math; font-weight:bold">@Card.FullName</p>
                                <p class="no"> @Card.CustomData["JamaatName"] Jama'at, @Card.CustomData["circuitName"]</p>
                                <div style="marginTop:12px">
                                    <p style="fontSize:14px; font-family:math; font-weight:bold">Membership No: @Card.ExternalId</p>
                                    @if(Card.CustomData["wasiyatNo"] is not null)
                                    {
                                        <p style="fontSize:14px font-family:math; font-weight:bold">Wasiyat No:  </p>
                                    }
                                    
                                    

                                </div>
                                <div class='end'>
                                    <img src="qrcode.png" class='qr-des' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="position: relative" class="font id-size">
                            <div class="top">

                                <div class=''>
                                    <p class='back-head-info'>The holder whose name and photograph </p>
                                    <p class='back-head-info-2'>appears overleaf is a member of</p>

                                </div>
                                @if (Card.CustomData["auxillaryBodyName"] == "Lajna")
                                {
                                    <img class='id-back-logo' src="amjn-img/liman.png" alt="logo" width="2rem" />
                                }

                                @if (Card.CustomData["auxillaryBodyName"] == "Khuddam")
                                {
                                    <img class='id-back-logo' src="amjn-img/mkan.png" alt="logo" width="2rem" />
                                }
                                @if (Card.CustomData["auxillaryBodyName"] == "Ansarullah")
                                {
                                    <img class='id-back-logo' src="amjn-img/maan.png" alt="logo" width="2rem" />
                                }

                                @if (Card.CustomData["auxillaryBodyName"] == "Khuddam")
                                {
                                    <p class='ahm-back'><strong>MAJLIS KHUDDAM-UL-AHMADIYYA NIGERIA</strong> <br /></p>
                                    <p class='ahm-back-khu-2'><span><strong>(Ahmadiyya Muslim Youth Organization)</strong></span></p>
                                    <p class='ahm-back-2'><span><strong>AN AFFILIATE OF NATIONAL YOUTH COUNCIL OF NIGERIA</strong></span></p>
                                }

                                @if (Card.CustomData["auxillaryBodyName"] == "Ansarullah")
                                {
                                    <p class='ahm-back-maan'><strong>MAJLIS ANSARULLAH NIGERIA</strong> <br /></p>
                                    <p class='ahm-back-maan-2'><span><strong>(Ahmadiyya Muslim Elders Association)</strong></span></p>
                                    @* <p class='ahm-back-maan-3'><span><strong class='ahm-back-mr-2'>DILA: AGEGE</strong><strong>MUQAM: OJOKORO</strong></span></p> *@

                                }


                                @if (Card.CustomData["auxillaryBodyName"] == "Lajna")
                                {
                                    <p class='ahm-back-maan'><strong>LAJNA IMAILLAH NIGERIA</strong> <br /></p>
                                    <p class='ahm-back-laj-2'><span><strong>(Women servant of Allah)</strong></span></p>
                                    <p class='ahm-back-laj-3'><span><strong class='ahm-back-mr-2'>REGION: 1</strong><strong class='ahm-back-mr-2'>DISTRICT: OJOKORO</strong><strong>MUQAM: OJOKORO</strong></span></p>
                                }


                                <p class='ahm-back-laj-4'><span><strong class='ahm-back-mr-2'>BLOOD GROUP: @Card.CustomData["BloodGroup"]</strong><strong>GENOTYPE: @Card.CustomData["Genotype"]</strong></span></p>

                                @* {/* <p class='ahm-back'><strong>AHMADIYYA MUSLIM JAMA'AT</strong> <br /> </p> */}
                                {/* <p class='ahm-back-2'><span><strong>NIGERIA</strong></span></p> */}
 *@


                            </div>
                            <div class='mid-info'>
                                <p style="font-size:13px; font-family:math; font-weight:600; margin-bottom:-7px">Km 27, Lagos-Abeokuta Expressway,</p>
                                <p style="font-size:13px; font-family:math; font-weight:600; margin-bottom:5px">Ojokoro, Via Agege, Abule Egba, Lagos</p>
                                <p style="font-size:12px; font-family:math" class=''>ahmadiyya.ng.hq@gmail.com  <br/><span>+2347064290096</span></p>
                            </div>
                            
                            <div class="bottom-back">
                                <p style="font-size:12px; font-family:math; margin-bottom:-7px">If found, please kindly bring to the nearest </p>
                                <p style="font-size:12px; font-family:math">Police Station or contact the above address</p>
                                <p class="sig"> Authorized Signature </p>
                                <hr class='underline' />
                                <img class='sig-img' src="amjn-img/signature.png" alt="signature" />
                                <p style="top: -1px" class="gensec"> General Secretary</p>

                            </div>
                        </div>
                    </div>
                </div>

                <MudCardActions Class="pb-4 pl-4">
                    <MudButton Variant="Variant.Filled" Color="Color.Surface" Class="ml-auto" StartIcon="@Icons.Filled.Print"
                               OnClick="Print" Disabled="@BusySubmitting">Print Card</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
}

@code {
    private async Task Print()
    {
        await JSRuntime.InvokeVoidAsync("printCard");
    }
}
